/* General */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bold {
  font-weight: bold;
}

.m-8 {
  margin: 8px;
}

.m-h-8 {
  margin: 0 8px;
}

.m-16 {
  margin: 16px;
}

.container-70 {
  width: 100%;
  height: 70%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  margin-bottom: 64px;
  text-align: center;
}

.title-up {
  margin-top: -64px;
  margin-bottom: 64px;
  text-align: center;
}

.border {
  border: 1px solid plum;
  border-radius: 4px;
}

.big-button {
  height: 64px;
  width: 256px;
  padding: 0;
}

/* Index */
.results-button {
  width: 240px;
}

/* Results */
#results-list {
  min-width: 512px;
  max-height: 512px;
  overflow: auto;
}

/* Levels */
.lvl-form {
  padding: 16px 16px 0 16px;
}

.lvl-stage {
  width: 100%;
  margin: 16px 0;
}

.lvl-input {
  display: inline;
  margin: 0;
  font-size: 16px;
}

.lvl-output-wrapper {
  display: flex;
  align-items: center;
}

.lvl-output {
  margin-left: 8px;
  margin-top: -8px;
  flex-grow: 1;
}

.lvl-correct {
  color: #00c100;
  margin-bottom: 8px;
}

.lvl-wrong {
  color: red;
  margin-bottom: 8px;
}

.lvl-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lvl-a-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lvl-a-btn i {
  margin-right: 8px;
}

.check-off {
  display: none;
}

.timer-container {
  position: absolute;
  top: 32px;
  left: 32px;
  font-size: 32px;
}
